In [2]:
# price = m1 * area + m2 * bedrooms + m3 * age + b

import pandas as pd
import numpy as np
from sklearn import linear_model

In [3]:
df = pd.read_csv("demo.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  680000
4  4000       5.0    8  725000

In [4]:
df.bedrooms.median()

3.5

In [8]:
import math
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

3

In [11]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)

In [12]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  680000
4  4000       5.0    8  725000

In [14]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [15]:
reg.coef_

array([  143.625, -6762.5  ,   337.5  ])

In [16]:
reg.intercept_

173112.50000000012

In [17]:
reg.predict([[3000,3,40]])

array([597200.])